@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";


a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/*NAVBAR*/
.nav-bar{
    background-color: #c72c48 ;
}

.title-navbar{
    color: whitesmoke;
    font-family: 'Lobster', cursive;
}
.banner{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*FIN NAVBAR*/


/*SEARCH BOX*/
#content{
    position: absolute;
    // height: 50px;
    width: 300px;
    margin-left: 150px;
    margin-top: 55px;
    margin-bottom: 50px;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
#content.on{
    -webkit-animation-name: in-out;
    animation-name: in-out;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
  
.input-search{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #c72c48;
    border-radius: 50%;
    background: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}
  
.search{
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}
  
.search:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 26px;
    margin-left: 17px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
  
.close{
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
  
.close:before{
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #c72c48;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
  
.close:after{
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #c72c48;
    margin-top: -1px;
    margin-left: -13px;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
.square{
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 300px;
    height: 50px;
    border: 4px solid #000000;
    border-radius: 0;
    background: none;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}
/*SEARCH BOX*/


/*HOME FIRSTBLOCK*/
.left-block{
    // width: 60px;
    margin-top: 25px;
}

.right-block{
    border: 7px solid #c72c48;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10vh;
    // min-height: 85%;
    position: absolute;
    padding: 0 30px 0 70px;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.block-title{
    font-family: 'Lobster', cursive;
}

.block-paragraph{
    font-family: 'Dancing Script', cursive;
}

.all-buttons{
    color: #c72c48; 
}
/*FIN HOME FIRSTBLOCK*/


/*HOME SECOND BLOCK*/
.baseline-home{
    font-size: 45px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
/*FIN HOME SECOND BLOCK*/

.wrapper-login {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
/*ALL PRODUCTS_______________________________________________________________________*/
.card-filter {
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 2px 10px 13px -7px #000000, 3px 3px 3px -1px rgba(0,0,0,0); 
  box-shadow: 2px 10px 13px -7px #000000, 3px 3px 3px -1px rgba(0,0,0,0);
}

.filter-title{
  font-family: 'Lobster', cursive;
  font-size: 35px;
}

.card-wrapper{
  box-shadow: 2px 10px 13px -7px #000000, 3px 3px 3px -1px rgba(0,0,0,0);
}

.product-name{
  color: #c72c48;
  font-family: 'Lobster', cursive;
}

.product-price{
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

.product-description{
  font-family: 'Lobster', cursive;
  font-size: 15px;
}
/*FIN ALL PRODUCTS_______________________________________________________________________*/


/*ONE PRODUCTS_______________________________________________________________________*/
.one-product-row{
  margin-left: 45vh; 
}

.one-product-img {
  max-width: 100%;
  filter: drop-shadow(1px 1px 3px $color-secondary);
}

/* ----- Product Section ----- */
.one-product {
display: grid;
grid-template-columns: 0.9fr 1fr;
margin: auto;
padding: 2.5em 0;
min-width: 600px;
background-color: white;
border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
position: relative;
}

.photo-container {
position: absolute;
left: -2.5em;
display: grid;
grid-template-rows: 1fr;
width: 100%;
height: 100%;
border-radius: 6px;
box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
border-radius: 6px 6px 0 0;
background-color: whitesmoke;
background: whitesmoke;

.controls {
display: flex;
justify-content: space-between;
padding: 0.8em;
color: #fff;
}

.one-product-img {
position: absolute;
left: -3.5em;
top: 2em;
max-width: 110%;
filter: saturate(150%) contrast(120%) hue-rotate(10deg)
  drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}
}

/* ----- Informations Section ----- */
.product__info {
padding: 0.8em 0;
}

.one-product-title {
h1 {
  color: #c72c48;
  font-family: 'Lobster', cursive;
  font-size: 35px;
}
}

.one-product-price {
  font-weight: bold;
  font-family: 'Dancing Script', cursive;

span {
padding-left: 0.15em;
font-size: 2.9em;
}
}
/*FIN ONE PRODUCTS_______________________________________________________________________*/



/*CART_______________________________________________________________________*/
.block-cart-title{
  color: #c72c48;
  font-family: 'Lobster', cursive;
}

.psst-description{
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.total-description{
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: #c72c48;
}

.payment{
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
/*CART_______________________________________________________________________*/


/*BUTTON FILTER_______________________________________________________________________*/
.btn-filtre{
  background-color: #c72c48;
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
}

/*BUTTON FILTER_______________________________________________________________________*/


  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }

/*FOOTER*/
.footer{
    background-color: #c72c48 ;
}
/*FIN FOOTER*/


@media all and (min-width: 992px) { 
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
} 
@media screen and (min-width: 768px) and (max-width: 785px) {
  .margin-responsive {
      margin-left: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-nav-margin {
      margin-top: 10px;
  }
}