<footer class="footer footer-dark footer-expand-lg bg-danger py-lg-4 text-center">
    <div class="container">
        <p class="m-0 small text-white">Copyright © Yummy Cupcakes 2020</p>
    </div>
</footer>