<nav class="navbar navbar-dark navbar-expand-lg bg-danger py-lg-3" id="mainNav">
  <div class="container-fluid"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Yummy cupcakes</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item mr-5">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="#">Nos cupcakes</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="#">Notre Yummy Cupcakes story</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="#">Nous contacter</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
